button, label, image {
    background: none;
    border-style: none;
    box-shadow: none;
    color: #999;
}

button {
    border-radius: 0;
    margin: 16px;
    min-width: 180px;
    padding: 16px;
    text-shadow: none;
    -gtk-icon-shadow: none;
}

button:hover {
    background-color: rgba(255, 255, 255, .1);
}

button:focus {
    background-color: rgba(255, 255, 255, .1);
}

#searchbox {
    background: none;
    border: 0;
    border-bottom: 1px solid #ccc;
    border-radius: 0;
    color: #ccc;
    margin-bottom: 24px;
    margin-top: 48px;
    min-width: 512px;
    padding: 8px;
}

#searchbox:focus {
    border-bottom: 1px solid #fabd2f;
    box-shadow: none;
}

#description {
    opacity: 0;
}
