binds {
    Mod+Return {
        spawn "kitty";
    }
    Mod+R {
        spawn-sh "wofi --show drun";
    }
    Mod+W repeat=false {
        close-window;
    }
    Mod+M {
        quit;
    }
    Mod+1 {
        focus-workspace 1;
    }
    Mod+2 {
        focus-workspace 2;
    }
    Mod+3 {
        focus-workspace 3;
    }
    Mod+4 {
        focus-workspace 4;
    }
    Mod+5 {
        focus-workspace 5;
    }
    Mod+6 {
        focus-workspace 6;
    }
    Mod+7 {
        focus-workspace 7;
    }
    Mod+8 {
        focus-workspace 8;
    }
    Mod+9 {
        focus-workspace 9;
    }
    Mod+Shift+1 {
        move-window-to-workspace 1;
    }
    Mod+Shift+2 {
        move-window-to-workspace 2;
    }
    Mod+Shift+3 {
        move-window-to-workspace 3;
    }
    Mod+Shift+4 {
        move-window-to-workspace 4;
    }
    Mod+Shift+5 {
        move-window-to-workspace 5;
    }
    Mod+Shift+6 {
        move-window-to-workspace 6;
    }
    Mod+Shift+7 {
        move-window-to-workspace 7;
    }
    Mod+Shift+8 {
        move-window-to-workspace 8;
    }
    Mod+Shift+9 {
        move-window-to-workspace 9;
    }
    Mod+F {
        fullscreen-window;
    }
    Mod+T {
        toggle-window-floating;
    }
    Mod+O repeat=false {
        toggle-overview;
    }
    Mod+H {
        focus-column-left;
    }
    Mod+L {
        focus-column-right;
    }
    Mod+J {
        focus-workspace-down;
    }
    Mod+K {
        focus-workspace-up;
    }
    Mod+Shift+H {
        move-column-left;
    }
    Mod+Shift+L {
        move-column-right;
    }
    Mod+Shift+J {
        move-window-to-workspace-down;
    }
    Mod+Shift+K {
        move-window-to-workspace-up;
    }
    Mod+Ctrl+H {
        focus-monitor-left;
    }
    Mod+Ctrl+J {
        focus-monitor-down;
    }
    Mod+Ctrl+K {
        focus-monitor-up;
    }
    Mod+Ctrl+L {
        focus-monitor-right;
    }
    Mod+Ctrl+Shift+H {
        move-window-to-monitor-left;
    }
    Mod+Ctrl+Shift+J {
        move-window-to-monitor-down;
    }
    Mod+Ctrl+Shift+K {
        move-window-to-monitor-up;
    }
    Mod+Ctrl+Shift+L {
        move-window-to-monitor-right;
    }
    Mod+Ctrl+Shift+N {
        move-workspace-down;
    }
    Mod+Ctrl+Shift+P {
        move-workspace-up;
    }
    Mod+Escape allow-inhibiting=false {
        toggle-keyboard-shortcuts-inhibit;
    }
    Print {
        screenshot-screen;
    }
    Alt+Print {
        screenshot-window;
    }
    Ctrl+Print {
        screenshot;
    }
    Pause {
        power-off-monitors;
    }
    XF86AudioRaiseVolume allow-when-locked=true {
        spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1+ -l 1.0";
    }
    XF86AudioLowerVolume allow-when-locked=true {
        spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1-";
    }
    XF86AudioMute allow-when-locked=true {
        spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle";
    }
    XF86AudioMicMute allow-when-locked=true {
        spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SOURCE@ toggle";
    }
    XF86AudioPlay allow-when-locked=true {
        spawn-sh "playerctl play-pause";
    }
    XF86AudioStop allow-when-locked=true {
        spawn-sh "playerctl stop";
    }
    XF86AudioPrev allow-when-locked=true {
        spawn-sh "playerctl previous";
    }
    XF86AudioNext allow-when-locked=true {
        spawn-sh "playerctl next";
    }
    XF86MonBrightnessUp allow-when-locked=true {
        spawn "brightnessctl" "--class=backlight" "set" "+10%";
    }
    XF86MonBrightnessDown allow-when-locked=true {
        spawn "brightnessctl" "--class=backlight" "set" "10%-";
    }
}

debug {
    honor-xdg-activation-with-invalid-serial
}

hotkey-overlay {
    skip-at-startup
}

input {
    keyboard {
        numlock
        xkb {
            layout "us"
            variant "altgr-intl"
            options "caps:escape"
        }
    }
    touchpad {
        natural-scroll
        tap
    }
    focus-follows-mouse max-scroll-amount="0%"
}

layout {
    gaps 8
    center-focused-column "always"
    default-column-width {
        proportion 1.0;
    }
    preset-column-widths {
        proportion 0.5;
        proportion 1.0;
    }
    border {
        off
    }
    focus-ring {
        width 2
        active-color "#fabd2f"
        inactive-color "#505050"
        urgent-color "#9b0000"
    }
}

prefer-no-csd

screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

spawn-sh-at-startup "ignis init"

window-rule {
    draw-border-with-background false
}

window-rule {
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    open-floating true
}

window-rule {
    match app-id="firefox"
    clip-to-geometry true
}

window-rule {
    match app-id="steam" title="Friends List"
    open-floating true
}
