$active: #fabd2f;

* {
    all: unset;
    font-family: "Ubuntu", sans-serif, monospace;
}

.bar {
    background-color: black;
    min-height: 24px;
    padding: 0.5rem;
}

.tray {
    padding: 0 8px;
}

.tray-menu {
    margin-top: 8px;
    arrow {
        background-color: #2e2e2e;
        border: 1px solid #424242;
    }
    contents {
        background-color: #2e2e2e;
        border: 1px solid #424242;
        min-width: 256px;
        padding: 0.75rem;
    }
    label:disabled {
        color: gray;
    }
    modelbutton {
        padding: 0.25rem;
    }
    modelbutton:hover {
        background-color: $active;
        color: black;
    }
    separator {
        background-color: #424242;
        margin: 0.5rem 0;
        min-height: 1px;
    }
}

.window {
    min-height: 1.5rem;
    min-width: 1.5rem;
    padding: 0 0.5rem;
}

.window.active {
    background-color: $active;
    color: black;
}

.workspace {
    min-height: 1.5rem;
    min-width: 1.5rem;
}

.workspace.active {
    background-color: $active;
    color: black;
}

.workspace.empty {
    color: gray;
}
