$active: #fabd2f;

* {
    all: unset;
    font-family: "Ubuntu", sans-serif, monospace;
}

.bar {
    background-color: black;
    min-height: 24px;
    padding: 0.5rem;
}

.tray {
    padding: 0 8px;
}

.tray-menu {
    background-color: black;
    margin-top: 8px;
    padding: 1rem;
    padding-top: 0;
}

.tray-menu label {
    padding: .25rem;
}

.tray-menu label:hover {
    background-color: $active;
    color: black;
}

.window {
    min-height: 1.5rem;
    min-width: 1.5rem;
    padding: 0 0.5rem;
}

.window.active {
    background-color: $active;
    color: black;
}

.workspace {
    min-height: 1.5rem;
    min-width: 1.5rem;
}

.workspace.active {
    background-color: $active;
    color: black;
}

.workspace.empty {
    color: gray;
}
